#transaction-container {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  #transaction-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    height: fit-content;
    width: 40%; /* Adjust this as per your design */
  }
  
  #transaction-form input,
  #transaction-form select {
    display: block;
    width: 90%;
    padding: 20px;
    outline: none;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 2px solid #e63946;
    transition: all 0.3s ease-in-out;
  }
  
  #transaction-form input:focus,
  #transaction-form select:focus {
    background-color: whitesmoke;
    border-radius: 20px;
  }
  
  #transaction-form button {
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    border: 0;
    width: 200px;
    background-color: #e63946;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  #transaction-form button:hover {
    background-color: #1d3557;
  }
  